[credential "https://github.com"]
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = !gh auth git-credential
[user]
	name = Kyren223
	email = Kyren223@proton.me
	signingkey = /home/kyren/.ssh/id_ed25519.pub
[init]
	defaultBranch = master
[pull]
	rebase = true
[core]
	editor = nvim
    pager = delta --syntax-theme='Monokai Extended'
[interactive]
	diffFilter = delta --color-only
[delta]
	features = decorations
[commit]
	gpgSign = true
[gpg]
	format = ssh
[log]
	date = iso
