[Desktop Entry]
Type=Application
Name=Vesktop
Comment=Vesktop autostart script
Exec=/opt/Vesktop/vesktop --relaunch
StartupNotify=false
Terminal=false
Icon=vesktop
