[Desktop Entry]
Actions=new-window;new-blank-window;new-private-window;profile-manager-window;
Categories=Network;WebBrowser;
Comment=Experience tranquillity while browsing the web without people tracking you!
Exec=/opt/zen/zen %u
Icon=/opt/zen/browser/chrome/icons/default/default128.png
Keywords=web;browser;internet
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;text/mml;x-scheme-handler/http;x-scheme-handler/https;
Name=Zen Browser
NoDisplay=false
StartupNotify=true
StartupWMClass=zen
Terminal=false
Type=Application

[Desktop Action new-blank-window]
Exec=/opt/zen/zen --blank-window %u
Name=Open a New Blank Window

[Desktop Action new-private-window]
Exec=/opt/zen/zen --private-window %u
Name=Open a New Private Window

[Desktop Action new-window]
Exec=/opt/zen/zen --new-window %u
Name=Open a New Window

[Desktop Action profile-manager-window]
Exec=/opt/zen/zen --ProfileManager
Name=Open the Profile Manager
